body {
  height: 100%;
  overflow: scroll;
  background: url("/static/images/base.jpeg") no-repeat center center fixed;
}


.title-forest {
  font-size: 50px;
  color: white;
  text-align: center;
}

#input {
  padding: 15px 20px;
  font-size: 24px;
  color: darkorange;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 15px;
}


#joinB {
  padding: 15px 25px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: darkorange;
  border: none;
  border-radius: 15px;
}

body > div > div > div > div > div.btn.btn-secondary.btn-lg.btn-block {
  padding: 15px 25px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: darkorange;
  border: none;
  border-radius: 15px;
}

#createB {
  padding: 15px 25px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: darkorange;
  border: none;
  border-radius: 15px;
}

input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 2px solid #555555;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}


#createB:hover, #joinB:hover, body > div > div > div > div > div.btn.btn-secondary.btn-lg.btn-block:hover {
  background-color: orange;
}


#public_lobbies {
    color: white;
}
#dynamic-list li {
    color: black;
}

