body {
  height: 100%;
  overflow: scroll;
  background: url("/static/images/game_lobby.jpg") no-repeat center center fixed;
  background-size: cover;
}

.item-title-forest {
    font-size: 30px;
    color: white;
    text-align: center;
}

span {
  font-size: 25px;
  color: white;
  text-align: center;
}

body > div > div > div > form > div:nth-child(1) > label {
    font-size: 25px;
    color: white;
    text-align: center;
}

#chat-text {
    background-color: white;
    border-radius: 15px;
}

#input {
    background-color: white;
    border-radius: 15px;
}





