body{
    height: 100%;
    background: url("/static/images/dayy.jpeg") no-repeat center center fixed;
}



.grid-container-index {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;


}



.item-title-forest {
  grid-column: 1 / span 10;
  grid-row: 1 / span 1;
  background-color: transparent;/*#013027;*/
  align-self: center;
  z-index: 10;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: cursive;
  padding: 0;
  /*box-shadow:5px 10px 8px 10px #888888;*/
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.title-forest {
  font-size: 45px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}


#players-counter {
    color: white;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#players-list {
    grid-column: 2 / 6;
    grid-row: 4 / 11;
    text-shadow: 2px 2px 4px #000000;

}

#form_game_id {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}

.dayy{
   background: url("/static/images/dayy.jpeg") no-repeat center center fixed;
}
.night{
  background: url("/static/images/nightt.jpeg") no-repeat center center fixed;
}

#game_id {
  padding: 15px 20px;
  font-size: 24px;
  color: #013027;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: white;
  border: none;
  border-radius: 15px;
}

#button-copy {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
}





#button-start {
  grid-column: 5 / 7;
  grid-row: 9 / 10;
}

button {
  padding: 15px 25px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #013027;
  border: none;
  border-radius: 15px;
}

button:hover {
  background-color: #02493b
}

#counter {
  font-size: 3vh;
}


h1 {
  font-size: 3vh;
}