body{
    height: 100%;
    overflow: scroll;
    background: url("/static/images/dark_forest.png") no-repeat center center fixed;
}


.grid-container-index {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}



.item-title-forest {
  grid-column: 1 / span 10;
  grid-row: 1 / span 1;
  background-color: #013027;
  align-self: center;
  z-index: 10;
  margin: 0;
  margin-top: 2%;
  padding: 0;
}

.title-forest {
  font-size: 45px;
  color: white;
  text-align: center;
}


#players-counter {
    color: white;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

h1 {
    color: white;
}

#players-list {
    grid-column: 2 / 6;
    grid-row: 4 / 11;
}

#form_game_id {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}

#game_id {
  padding: 15px 20px;
  font-size: 24px;
  color: #013027;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: white;
  border: none;
  border-radius: 15px;
}

#button-copy {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
}  





#button-start {
  grid-column: 5 / 7;
  grid-row: 9 / 10;
}

button {
  padding: 15px 25px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #013027;
  border: none;
  border-radius: 15px;
}

button:hover {
  background-color: #02493b
}



