<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>Night</title>
    <style>
        #selection li{
            color: black;
        }
    </style>
</head>
<body>
    <div style=" padding: 30px 10px 30px 10px" id="items">
        <h1 class="t" ID="t" style="margin: auto">
            Amor select two lovers
        </h1>
        <ul id="selection" class="w3-ul w3-center" style="color: white;" ></ul>
    </div>




    <script>
     all_players = {{ "players_array"|safe }}
     players_selection = document.getElementById("selection")
     for (player in all_players){
            if (all_players[player]["role"] != data.role && all_players[player]["isDead"] == "false" && user_name != all_players[player][user_name]){
                times = 0
                var new_player_li = document.createElement("li")
                new_player_li.setAttribute("id", all_players[player]["user_name"])
                new_player_li.setAttribute("data-votes", times)
                new_player_li.setAttribute("class","p")
                new_player_li.appendChild(document.createTextNode( all_players[player]["user_name"]))
                new_player_li.style.cursor = "pointer"
                players_selection.appendChild(new_player_li)

            }
        }
     clicked = 0
     lovers = []
     $(document).on("click",".p",function (e){
            if (clicked <=1){
                clicked += 1
                e.target.style.color = "red"
                e.target.style.pointerEvents = "none"
                var span = document.createElement("span")
                span.appendChild(document.createTextNode("\u2764"))
                span.setAttribute("class","w3-badge w3-right w3-margin-right w3-large w3-red")
                e.target.appendChild(span)
                lovers.push(e.target.id)
            }
            if (clicked == 2){
                clearTimeout(requireAction)
                console.log(lovers)
                $(".p").css({"pointer-events":"none"})
                gameSocket.send(JSON.stringify({
                    "msgType" : "lovers_selected",
                    "msg": lovers,
                    "votes": "",
                    "user_name": user_name,
                    "user_type": user_type,
                }))
            }
        })
 </script>
</body>

</html>






