{% load static %}

{% block head %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Pre Lobby</title>

    <!-- CSS file -->
    <link href="{% static 'werewolves/base.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <p id="counter">0</p>
                <p id="error"></p>
                    <div class="form-group">
                        <div class="item-title-forest">
                            <h2 class="title-forest">
                                THE WEREWOLVES OF MILLER'S HOLLOW
                            </h2>
                        </div>
                        <br><br>
                        <input class="form-control" id="input" type="text" autocomplete="off" placeholder="ID"></br>
                        <input class="btn btn-secondary btn-lg btn-block" id="joinB" type="button" value="Join">
                        <br><br><br>
                        <div class="btn btn-secondary btn-lg btn-block"  style="display: inline-block;">
                            <input class="btn btn-secondary btn-lg " id="createB" type="button" value="Create private lobby">
                            <input type="checkbox"  id="check_box" name="private" value="Public" style="float: right" onclick="change_between_private_public(this);">
                            <label for="public" style="font-size: 11px;float: right">Public</label>
                        </div>
                    </div>

                    <h3 id="public_lobbies"  style="display: none">Public Lobbies</h3>
                    <ul id="dynamic-list" class = "list-group" style="color: black"></ul>


            </div>
        </div>
    </div>

    <script>
        sessionStorage.removeItem("user_name")
        sessionStorage.removeItem("valid")
        sessionStorage.removeItem("user_type")
        const lobbySocket = new WebSocket(  //create a websocket
                'ws://' +
                window.location.host +
                '/ws/in_game_lobby/'
        );

        existing_lobbies = {{ existing_lobbies|safe }}
        lobby_users = []
        existing_lobbies = JSON.stringify(existing_lobbies)
        sessionStorage.setItem("lobbies", JSON.stringify(existing_lobbies))
        user_name = 'guest' + Math.random().toString(36).substr(2, 9); // generate random user name
        sessionStorage.setItem("user_name", user_name)

        lobbySocket.onmessage = function (e){ // handle the messages coming from the server
            message = JSON.parse(e.data)
            existing_lobbies = message.msg
            sessionStorage.setItem("lobbies", JSON.stringify(existing_lobbies))
            show_public_lobbies()

        }
        /*
              * Create and join button
         */
        document.getElementById("createB").onclick = function (){
            /*
               * When the user clicks create lobby than a lobby_id will be generated and will be encoded and passed to the url as a variable for the server to catch it.
               * The encoded lobby_id will be passed as a variable in the url because the server(consumers.py) needs to get the lobby_id from the url_route
               * and then create the lobby with that id if it doesn't exist, if it does it just adds the user to the lobby with the corresponding lobby_id(That is the case for the join button)

             */
            check_box = document.getElementById("check_box")
            sessionStorage.setItem("lobby_status", check_box.name)
            lobby_name = user_name
            lobby_id = Math.random().toString(36).substr(2, 9);
            existing_lobbies.push(lobby_id)
            var enc = window.btoa(lobby_id)
            new_url = window.location.href + enc + "/" +check_box.name
            sessionStorage.setItem("usertype", "host")
            sessionStorage.setItem("valid", new_url)
            sessionStorage.setItem("lobby_id", lobby_id)
            //sessionStorage.setItem("lobbies", JSON.stringify(existing_lobbies))
            window.location.href = new_url


        }

        document.getElementById("joinB").onclick = function (){
            var text_area = document.getElementById("input").value
            if (lobby_exists(text_area)){
                var enc = window.btoa(text_area)
                sessionStorage.setItem("lobby_id", text_area)
                //sessionStorage.setItem("lobbies", JSON.stringify(existing_lobbies))
                join_lobby(text_area)
            }
            else{
                document.getElementById("error").innerHTML = "Sorry lobby with the code:"+text_area+" doesn't exist"
            }

            }


        function lobby_exists(lobby_id){ //checks if lobby exists and is available to join
            if (existing_lobbies.length != 0){
                for (var i in existing_lobbies){
                    if (existing_lobbies[i]["room_name"] == lobby_id){
                        return existing_lobbies[i]["isAvailable"] == "true"
                    }
                }
                return false
            }

        }



        function show_public_lobbies(){  // shows a list of public lobbies so that the user can join without a lobby id
            var ul = document.getElementById("dynamic-list");
            ul.innerHTML = ""
            no_lobbies = "none"
            public_lobbies_h3 = document.getElementById("public_lobbies")

            for (var lobby in existing_lobbies){
                if (existing_lobbies[lobby]["lobby_status"] == "public" && existing_lobbies[lobby]["isAvailable"] == "true"){ // if the current lobby is public and available show it to the user so that he can join it
                    no_lobbies = "block"
                    var li = document.createElement("li");
                    var span = document.createElement("span")
                    span.setAttribute("class", "badge badge-primary badge-pill" )
                    span.setAttribute("style", "background-color: darkorange")
                    span.appendChild(document.createTextNode("Players: "+existing_lobbies[lobby]["users"].length))
                    li.setAttribute('id',existing_lobbies[lobby]["room_name"]);
                    li.setAttribute("class", "list-group-item d-flex justify-content-between align-items-center")
                    textContent = "Lobby id: "+existing_lobbies[lobby]["room_name"]// show the id of the lobby along with the number of users present
                    li.appendChild(document.createTextNode(textContent));
                    li.appendChild(span)
                    ul.appendChild(li);
                    li.style.cursor ="pointer"
                    li.onclick = function (){
                        join_lobby(li.id)
                    }
                }
            public_lobbies_h3.style.display = no_lobbies
            }
        }


        function join_lobby(lobby_id){
            lobby_id_enc = window.btoa(lobby_id)
            new_url = window.location.href + lobby_id_enc +"/" +"join"
            console.log(lobby_id)
            sessionStorage.setItem("usertype", "client")
            sessionStorage.setItem("valid", new_url)
            sessionStorage.setItem("new_user", "true")
            sessionStorage.setItem("lobby_id", lobby_id)
            window.location.href = new_url
        }

        function change_between_private_public(check_box_object){ // when the user clicks the checkbox for public or private lobby creation
            create_btn = document.getElementById("createB")
            if (check_box_object.checked){
                create_btn.value = "Create public lobby"
                check_box_object.name = "public"

            }
            else{
                create_btn.value = "Create private lobby"
                check_box_object.name = "private"
            }
            sessionStorage.setItem("lobby_status", check_box_object.name)
        }

    </script>


{% endblock %}