<!DOCTYPE html>
<html>
    <head>
        <title>Day</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #turnPrompt{
                color: black;
                display: flex;
                justify-content: center;
            }
            #selection li{
                color: black;
            }
            div{
                padding: 30px 10px 30px 10px;
            }
        </style>
    </head>
    <body>
        <div style="vertical-align: center" >
            <h1 class="turn" ID="turnPrompt" style="margin: auto">Voting stage</h1>
            <ul id="selection" class="w3-ul w3-center" style="color: white; margin: auto" ></ul>
        </div>

        <script>
            /*
                * Display all the players by creating a new list item for each player, a vote_count_span which will show how many times a player was voted to be killed, and a custom attribute "data-votes" that will hold the number of votes
                * We can get the players array from the page where the ajax call to this page was made(index.html), and since the call is from that page this page has access to all the data and variables of the index.html
                * And the "players_array" can either be accessed as below or it can also directly be just used, no need to assign to the new variable all_players.
                *
                * Vote_update
                *   * Whenever a user clicks any of the the elements with the class "players_to_vote"(class which all the players list items have, as can be seen from inside the for loop),
                *   * we get the players clicked id(that is achieved by the event.target.id as seen in the second block of the code, event is the clicking event, event.target holds the element that was clicked)
                *   * and we get the player's data-vote which has the current amount of votes so the votes before the new vote here.
                *   * Then a new message will be sent to the server(consumers.py) and the message will contain the player's id that was voted and the current amount of votes.
                *   * Now on the server side(consumers.py) the server will take the player's id and the votes, and then it will increment the amount of votes by 1.
                *   * The server then saves the player's id and the new amount of votes in the list 'votes' inside the consumers.py to later check
                *   * which players were voted and which one had the most votes. After that the server sends back to the index.html a message of type also "vote_update" along with the player's id and  its votes.
                *   * And in the end the player's vote_count_span will be updated to show it to all the users active.
                *
                *
                *   send_kill()
                *   * After 30 seconds (setTimeout(send_kill, 30000)) the send_kill function will be called
                *   * The send_kill function will send a simple message to the server telling it that the voting time has expired and now the most voted player needs to be killed.
                *   * When we send the message of type "kill" , inside the consumers.py the server now finds the most number of votes and the player associated with that amount of votes..
                *   * ...from the list 'votes'.
                *   * It then updates the file "lobbies.json" by changing the attribute "isDead" of the player from False to True.
                *   * Then it sends back a message of type "kill" to the index.html along with the player with the most number of votes and the actual amount of votes.
                *   * And in the end inside the index.html the player's list-item will be crossed indicating that that player is now dead.
             */
            time_left = 30
            all_players = {{ "players_array"|safe }}
            players_selection = document.getElementById("selection")
            this_user = sessionStorage.getItem("user_name")
            for (player in all_players){
                if (all_players[player]["role"] != data.role && all_players[player]["isDead"] == "false"){
                    times = 0
                    var new_player_li = document.createElement("li")
                    var vote_count_span = document.createElement("span")
                    vote_count_span.appendChild(document.createTextNode("0"))
                    vote_count_span.setAttribute("class","w3-badge w3-right w3-margin-right")
                    vote_count_span.setAttribute("id", all_players[player]["user_name"] + "span")
                    new_player_li.setAttribute("id", all_players[player]["user_name"])
                    new_player_li.setAttribute("data-votes", times)
                    new_player_li.setAttribute("class","players_to_vote")
                    new_player_li.appendChild(document.createTextNode( all_players[player]["user_name"]))
                    new_player_li.appendChild(vote_count_span)
                    new_player_li.style.cursor = "pointer"
                    players_selection.appendChild(new_player_li)
                    if (user_name == all_players[player]["user_name"] || user_isDead=="true"){new_player_li.style.pointerEvents = "none";new_player_li.style.color = "gray";document.removeEventListener("click",send_new_vote)} // disable the ability for the user to vote for himself, or if it is dead
                }
            }

            if (user_isDead == "false")
                $(document).on("click",".players_to_vote",send_new_vote)

            function send_new_vote(event){
                $(".players_to_vote").css({"pointer-events":"none","color":"gray"})
              gameSocket.send(JSON.stringify({
                    "msgType" : "vote_update",
                    "msg": event.target.id,
                    "votes": event.target.getAttribute("data-votes"),
                    "user_name": user_name,
                    "user_type": user_type,
                }))
            }

            setTimeout(send_kill, 15000)
            function send_kill(){
                gameSocket.send(JSON.stringify({
                    "msgType" : "immediate_kill",
                    "msg": "",
                    "votes": "",
                    "user_name": user_name,
                    "user_type": user_type,
                }))
            }
        </script>
    </body>
</html>