{% load static %}

{% block head %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Game lobby</title>

    <!-- CSS file -->
    <link href="{% static 'werewolves/game_lobby.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<!--- handles the lobby_session(communicate with the server, wait for users to join) -->

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <br>
                <div class="item-title-forest">
                    <h2 class="title-forest">
                        GAME LOBBY
                    </h2>
                </div>
                <span >Players connected:</span>
                <span id="counter" style="color: white">0</span>
                <h4 id="sessionId" style="color: white; display: none;"></h4>
                <input class="btn btn-warning btn-md" id="showHide" data-name="show" type="button" value="Show my lobby id"
                onclick="showHide(this)" style="color: white;display: none;">
                <br><br>
                <h4 style="color: white">Werewolves - Invite your Friend</h4>
                    <form  method="POST">
                     {% csrf_token %}
                    <input class="form-control" type="email" id="email" name="email" placeholder="Email" style="color: darkorange">
                    <input class="btn btn-warning btn-md" id="send_email" value="Send invitation" style="color: white">
                    </form>
                <form autocomplete="off">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Chat</label>
                        <textarea class="form-control" id="chat-text" rows="10" readonly></textarea><br>
                    </div>
                        <input class="form-control" id="input" type="text" placeholder="Type..."></br>
                        <input class="btn btn-warning btn-lg btn-block" id="submit" type="button" value="Send Message" style="color: white">
                    <div class="form-group">

                    </div>
                    <input class="btn btn-warning btn-lg btn-block" id="copyToClipboard" type="button" value="Copy Lobby Id to clipboard" style="color: white;display: none;">
                    <input class="btn btn-success btn-lg btn-block" id="startGame" type="button" value="Start Game" style="color: white; display: none;">
                    <input class="btn btn-danger btn-lg btn-block" id="leaveLobby" type="button" value="Leave Lobby" style="color: white">
                </form>
            </div>
        </div>
    </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    {{ lobby_name|json_script:"lobby-name" }}
    {{ users|json_script:"users" }}
    {{ "wm"|json_script:"wm" }}
    <script>
    var token = '{{csrf_token}}';
    email = document.getElementById("email")

    $('#send_email').click(function() {
        console.log(email.value)
        $.ajax({
            headers: { "X-CSRFToken": token },
            url: window.location,
            type: 'POST',
            data: {
                email: email.value,
                invited_by: user_name,
            },
            success: function(msg) {
                alert('Email Sent');
                console.log(sessionStorage.getItem("lobby_id"))
            }
        });
    });

        /*
            * In the base.html(where the user is in the pre_lobby where he can either create or join a lobby)
            * was created a session with the key("valid") which holds the url to which the user was redirected here
            * e.g the user clicked create in the base.html --> a lobby id was created and then the user was redirected to the url
            * "werewolves/in_game_lobby/lobbyId".
            * If the session with the key("valid") doesnt exist then it means that the user came here "illegally" without first going to the pre_lobby.
            * in that case the user will be redirected to the pre_lobby.
            * the else if basically does the same thing only that it handles the cases where the user was once in the pre_lobby
            * which in that case that would mean that the session("valid") exists but still the user shouldn't access this page.
         */
        /*check_validity = sessionStorage.getItem("valid")
        if(check_validity == null){
            redirect_user_to_pre_lobby()
        }
        else if (window.location.href != check_validity+"/"){
            window.location.href = check_validity+"/"
        }
        else{*/
            referrer = document.referrer // this holds the url from which the user came here, if this referrer is empty it means that the user got here from the invitation link, and in that case a user name will be generated here
            if(referrer == ""){
                user_name = 'guest' + Math.random().toString(36).substr(2, 9); // generate random user name
                sessionStorage.setItem("user_name", user_name)
            }
            console.log("referer" +document.referrer)
            copy_button = document.getElementById("copyToClipboard")
            lobby_id = sessionStorage.getItem("lobby_id")
            lobby_n = document.getElementById("lobby-name")
            sessionStorage.setItem("lobby_id", JSON.parse(lobby_n.textContent))
            user_type = sessionStorage.getItem("usertype")
            user_name = sessionStorage.getItem("user_name")
            users = JSON.parse(document.getElementById("users").textContent)
            users.push(user_name)
            sessionStorage.setItem("users", users)
            start_btn = document.getElementById("startGame")
            leave_btn = document.getElementById("leaveLobby")
            send_btn = document.getElementById("submit")

            if (user_type == "host"){ // if the connected user is the host show the start game button and the copy lobby id button
                show_hide_sessionId_btn = document.getElementById("showHide")
                show_hide_sessionId_btn.style.display="block"
                start_btn.style.display = "block"
                copy_button.style.display = "block"
                copy_button_value = copy_button.value
                copy_button_color = copy_button.style.background
                copy_button.onclick = function (e){
                    const el = document.createElement('textarea');
                    el.value = lobby_id;
                    document.body.appendChild(el);
                    el.select();
                    document.execCommand('copy');
                    document.body.removeChild(el);
                    copy_button.value = "Id copied to clipboard"
                    copy_button.style.background = "green"
                    setTimeout(function ()
                    {
                        copy_button.value = copy_button_value
                        copy_button.style.background = copy_button_color
                    }, 1000)
                }
            }


            const lobby_status = sessionStorage.getItem("lobby_status")
            const lobbyName = JSON.parse(document.getElementById('lobby-name').textContent);
            const lobbySocket = new WebSocket(  //create a websocket
                'ws://' +
                window.location.host +
                '/ws/in_game_lobby/' +
                JSON.parse(lobby_n.textContent) +
                '/'+
                lobby_status +
                '/'
            );


            lobbySocket.onclose = function (e){
                if (user_type == "host"){
                    lobbySocket.send(JSON.stringify({
                        "msgType": "delete_room",
                        "message": "delete_room",
                        "username": user_name,
                        "usertype":user_type
                    }))
                }
            }

            start_btn.onclick = function (e){
                lobbySocket.send(JSON.stringify({
                    "msgType": "game_start",
                    "message": "game_start",
                    "username": user_name,
                    "usertype": user_type
                }))
            }

            leave_btn.onclick = function (e){
                if (user_type == "host"){
                    confirmation = window.confirm("You are the host! If you leave the lobby it will be deleted and all the connected users will be kicked!")
                    if (confirmation){
                        lobbySocket.send(JSON.stringify({ // send a message that the host left, and then the server will delete the lobby from the "lobbies.json"
                            "msgType": "delete_room",
                            "message": "delete_room",
                            "username": user_name,
                            "usertype": user_type
                        }))
                    }
                }
                else{
                     redirect_user_to_pre_lobby()
                     lobbySocket.send(JSON.stringify({
                         "msgType": "delete_user",
                         "message": "delete_user",
                         "username": user_name,
                         "usertype": user_type
                     }));
                }
            }

            send_btn.onclick = function (e) { // send messages
                const messageInputDom = document.querySelector('#input');
                const message = messageInputDom.value;

                lobbySocket.send(JSON.stringify({
                    "msgType": "regular",
                    'message': message,
                    'username': user_name,
                    "usertype": user_type
                }));
                messageInputDom.value = '';
                messageInputDom.focus()
            };



            lobbySocket.onopen = function (){ // as soon as there is a new connection to the lobby sent the signal to the server which will then modify the "lobbies.json" and then send back the same message here.
                lobbySocket.send(JSON.stringify({
                    "msgType": "add_new_user",
                    "message": "add_new_user",
                    "username": user_name,
                    "usertype": user_type,
                }))
            }


            // handle messages coming from the server
            lobbySocket.onmessage = function (e){
                const data = JSON.parse(e.data)
                /*
                    * if the server(costumers.py) is sending a message that contains a new update (determined by looking at the messageType variable)
                    * regarding users in the lobby(either a new user connected or an existing one left the lobby)
                    * then update the <p> that holds the value of current users in the lobby.
                    *
                    * else if message is "delete_room" : it means that the host has left the lobby, therefore disconnect every user present in that lobby
                    *
                    * else if message is "game_start": it means that the host has started the game, therefore all users in the lobby will be directed to the start of the game,...
                    * and the key "available" of the lobby will be set to false(in consumers.py) so that no user will be able to join the lobby
                    *
                    * else if message is "add_new_user" or "delete_user": it means that a new player has connected to the lobby or an existing player has left the lobby.
                    * And for that the socket will send the server(consumers.py) the signal so the server then will modify the "lobbies.json" accordingly.
                    *
                    * else : it means that a user has send a message to the other players in the lobby
                */

                switch (data.msgType){
                    case "countConnections":
                        document.getElementById("counter").innerText = data.msg
                        break
                    case "delete_room":
                        redirect_user_to_pre_lobby()
                        break
                    case "game_start":
                        var url = window.location.href
                        new_url = remove_dir_from_url(url, 3)
                        new_url += "/"+JSON.parse(lobby_n.textContent)+"/enter/"
                        window.location.replace(new_url)
                        break
                    case "add_new_user":
                        console.log("added_new_user")
                        break
                    case "delete_user":
                        console.log("deleted_user")
                        break
                    case "regular":
                        message_data = data.user_name+": "+data.msg+"\n"
                        document.getElementById("chat-text").value += message_data
                        break
                    default:
                        console.log("something went wrong during the receiving of the message from the server!")
                }
            //}

        }

        function remove_dir_from_url(url, numof_dir_to_remove){
            var lastItem = url.split("/")
            for ( var i = 0; i <= numof_dir_to_remove; i++ ) {
                lastItem.pop();
            }
            new_url = lastItem.join("/")
            return new_url
        }

        function redirect_user_to_pre_lobby(){
            var url = window.location.href;
            new_url = remove_dir_from_url(url, 2)
            window.location.replace(new_url)
        }

        function showHide(caller){
            session_id_p_tag = document.getElementById("sessionId")
            session_id_p_tag.innerText = "My lobby id: "+lobby_id
            if (session_id_p_tag.style.display == "none"){
                session_id_p_tag.style.display="inline-block"
                caller.value="Hide my lobby id"
            }
            else{
                session_id_p_tag.style.display="none";
                caller.value="Show my lobby id"}
        }

    </script>

{% endblock %}