{% comment %}
{% extends "werewolves/layout.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <title>Hunter</title>
    <link href="{% static 'werewolves/day.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url({% static 'images/hunter_dead.jpg' %});
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
{% endblock %}

{% block body %}
<div class="item-votes">
            <form action = "{% url 'werewolves:day' %}" method="post" >
                {% csrf_token %}

                <div style="vertical-align: center" class="form-control">
                    <h1 class="t" style="margin: auto">
                        Hunter, you may take one with you</h1>

                    <select class="custom-select" name = "victim">
                        <option value="" selected disabled hidden>Choose here</option>
                        {% for player in players %}
                            {% if player not in werewolves_victim %}
                        <option style="font-weight: bold" value = "{{ player.id }}">{{ player.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="item-boton">
                    <button class="boton" type="submit">Verify</button>
                </div>

            </form>
        </div>
{% endblock %}{% endcomment %}




<!DOCTYPE html>
    <html>
        <head>
	        <title>Seer</title>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <style>
                div{
                    padding: 30px 10px 30px 10px;
                }
                .players_to_kill{
                    color: green;
                }
            </style>
        </head>
        <body>
               <div style="vertical-align: center" >
                    <h1 class="turn" id="turnPrompt" style="margin: auto; color: black;">Hunter, you may take one with you</h1>
                    <ul id="selection" class="w3-ul w3-center" style="color: black; margin: auto" >
                    </ul>
                    <button id="no_kill">No thanks</button>
               </div>
               <script>
                   {% comment %} Message that was sent to this page:
                     "msgType": "page_update",
                     "page_to_show": "hunter",
                     "role": "hunter",
                     "players": alive_players{% endcomment %}

                  players_to_kill = document.getElementById("selection")
                  for (player in theData.players){
                      var new_player_li = document.createElement("li")
                      new_player_li.setAttribute("id", theData.players[player])
                      new_player_li.setAttribute("class", "players_to_kill")
                      new_player_li.appendChild(document.createTextNode(theData.players[player]))
                      players_to_kill.appendChild(new_player_li)
                  }

                  no_kill_timeout = setTimeout(no_kill, 14000)

                  $(document).on("click", ".players_to_kill", send_hunter_kill)
                  function send_hunter_kill(event){
                      clearTimeout(requireAction)
                      clearTimeout(no_kill_timeout)
                      player_killed = event.target.id
                      player_killed_li = document.getElementById(player_killed)

                      killed_span = document.createElement("span")
                      killed_span.setAttribute("class", "w3-badge w3-right w3-margin-right w3-red")
                      killed_span.appendChild(document.createTextNode("Killed"))
                      player_killed_li.appendChild(killed_span)
                      $(killed_span).slideDown(2000)
                      gameSocket.send(JSON.stringify({
                        "msgType" : "hunter_kill",
                        "msg": player_killed,
                        "votes": "",
                        "user_name": user_name,
                        "user_type": user_type,
                    }))
                  }



                  function no_kill(){
                     gameSocket.send(JSON.stringify({
                        "msgType" : "hunter_kill",
                        "msg": "",
                        "votes": "",
                        "user_name": user_name,
                        "user_type": user_type,
                    }))
                  }
               </script>
        </body>
</html>



