{% extends "werewolves/layout.html" %}
{% load static %}

{% block head %}
<!--Block for linking the css-->
    <style>
        li {
        color: white;
        font-size: 22px; !important;
        margin-left: 4%;
    }
    </style>
    <link href="{% static 'werewolves/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="{% static 'JS/setup.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}


{% block body %}

    <div class="grid-container-index" id="container">

        <div class="item-title-forest">
            <h2 class="title-forest" id="title" style="font-family: cursive;">
                Loading Players
            </h2>
            <h3 id="demo"></h3>
        </div>

        <div id="players-counter">
            <h1 id="counter">Number of Players:</h1>
        </div>
        <div id="theGame" style="height: 70vh;width:40vw;position: absolute; overflow-y:scroll;background-color:white;left: 35vw;top: 10vw;border-radius: 3px;">
        </div>

        <form action="#" method="post" id="form_game_id">
            {% csrf_token %}
        </form>



        <ul id="players-list" class="w3-ul w3-card-4" style="width:40%">
            <h1 style="font-size: 3vh">List of Players: </h1>
            <ol id="players">
            </ol>
        </ul>


        <button id="reset-btn" style="">Reset</button>
        <button id="next-btn" style="">Next</button>

    </div>


    <script>
        $("#theGame").hide()
        upd = ""
        lobby_id = sessionStorage.getItem("lobby_id")
        lobby_id = lobby_id
        user_role = ""
        user_second_role = ""
        user_name = sessionStorage.getItem("user_name")
        user_type = sessionStorage.getItem("usertype")
        reset_btn = document.getElementById("reset-btn")
        if(user_type == "host"){
            create_btn = document.createElement("button")
            create_btn.setAttribute("id", "assign-btn")
            create_btn.appendChild(document.createTextNode("Assign roles"))
            document.getElementById("container").appendChild(create_btn)
            create_btn.onclick = function (e){
            gameSocket.send(JSON.stringify({
                "msgType" : "assign_roles",
                "msg": "assign_roles",
                "user_name": user_name,
                "user_type": user_type
            }))
            send_page_update()
        }
        }


        const gameSocket = new WebSocket(  //create a websocket
                'ws://' +
                window.location.host +
                '/ws/werewolves/'+
                lobby_id +
                "/enter/"
        );
        gameSocket.onmessage = function (e){
            data = JSON.parse(e.data)
            switch (data.msgType){
                case "load_players":
                    console.log(data)
                    players_array = data.msg
                    show_players()
                    break
                case "reload_players":
                    players_array = data.msg
                    get_my_role(players_array)
                    show_players()
                    break
                case "assign_roles":
                    players_array = data.msg
                    get_my_role(players_array)
                    show_players()
                    break
                case "page_update":
                    current_turn = data.role

                    if (data.phase != undefined){
                        console.log(data.phase == "dayy")
                        if (data.phase == "dayy"){
                            console.log("heree")
                            document.body.style.backgroundImage = "url('{% static 'images/dayy.jpeg' %}')"
                            }
                        else{
                            console.log("heree2")
                            document.body.style.backgroundImage = "url('{% static 'images/nightt.jpeg' %}')"
                        }
                    }

                    if ((user_role == data.role || data.role == "all" || user_role == "white"+data.role || (data.lucky_villager != null && user_name == data.lucky_villager))){
                        theData = data
                        $("#title").text("Your turn!")
                        if (user_isDead == "true")
                            $("#title").text("You're dead")
                        $('#theGame').fadeIn(1000);
                        new_url = remove_dir_from_url(window.location.href, 2)
                        new_url += "/"+data.page_to_show
                        $("#theGame").load(new_url)

                        requireAction = setTimeout(require_action, 7000)

                    }
                    else{
                        $('#theGame').fadeOut(1000);
                        $("#title").text("It's "+ data.page_to_show+"'s turn!")
                    }
                    break
                case "vote_update":
                    voted_player = document.getElementById(data.msg)
                    voted_player_span = document.getElementById(data.msg+"span")
                    if (voted_player != null && voted_player_span != null &&(user_role == current_turn || user_role == "white"+current_turn || current_turn == "all")){
                        voted_player.setAttribute("data-votes", data.votes)
                        voted_player_span.innerText = voted_player.getAttribute("data-votes")
                    }
                    break
                case "announce_deaths":
                    players_array = data.players
                    console.log(data.lovers_killed)
                    if (data.lovers_killed.length != 0 && user_second_role == "lover"){
                        alert("your lover was killed last night, you will go with him!")
                    }
                    get_my_role(players_array)
                    show_players()
                    break

                case "lovers_selected":
                    if (data.player1 == user_name)
                        console.log("You and "+data.player2 +" were selected as lovers")
                    if (data.player2 == user_name)
                        console.log("You and "+data.player1 +" were selected as lovers")
                    if (user_type == "host"){
                        clearTimeout(update)
                        send_page_update()
                        }
                    break

                case "reset":
                    window.location.reload()
                    players_array = data.msg
                    show_players()
                    window.location.reload()
                    break
            }
        }
        $(document).on('click', '#verify', function() {
            clearTimeout(requireAction)
        });
        reset_btn.onclick = function (){
            gameSocket.send(JSON.stringify({
                "msgType" : "reset",
                "msg": "reset",
                "user_name": user_name,
                "user_type": user_type
            }))
        }
        function require_action(){
            alert("Please select a player!")

        }
        upd = ""
        function send_page_update(){
            gameSocket.send(JSON.stringify({
                "msgType":"page_update",
                "msg": "",
                "user_name": user_name,
                "user_type": user_type
            }))
            update = setTimeout(send_page_update, 15000)
            upd = update

        }
        console.log(user_type)

        document.getElementById("next-btn").onclick = function (){
            send_page_update()
        }

         function get_my_role(roles_list) {
            for (player in roles_list){
                if (roles_list[player]["user_name"] == user_name){
                    user_role = roles_list[player]["role"]
                    user_second_role = roles_list[player]["second_role"]
                    user_isDead = roles_list[player]["isDead"]
                    console.log("your role is: "+ roles_list[player]["role"])
                }
            }
         }

        function show_players(){
            this_user = sessionStorage.getItem("user_name")
            players_list = document.getElementById("players")
            player_counter = document.getElementById("counter")
            player_counter.innerText = "Number of Players: "+ players_array.length
            players_list.innerHTML = ""
            for (user in players_array) {
                new_player_li = document.createElement("li")
                new_player_li.setAttribute("id",players_array[user]["user_name"]+"outside")
                new_player_li.setAttribute("class","w3-padding-tiny")
                textNode = players_array[user]["user_name"]+ "---"+players_array[user]["role"]
                current_player = players_array[user]
                if (current_player["user_name"] == user_name){new_player_li.style.color="darkorange"}
                if(current_player["isDead"] == "true"){new_player_li.style.textDecoration = "line-through"}
                new_player_li.appendChild(document.createTextNode(textNode))
                players_list.appendChild(new_player_li)
                if ((user_role=="werewolf" || user_role=="whitewerewolf") && (current_player["role"]=="werewolf" || current_player["role"]=="whitewerewolf"))
                {
                    fellow_player = document.getElementById(current_player["user_name"]+"outside")
                    var img = document.createElement("img")
                    img.src = "{% static 'images/rsz_rsz_werewolf-small.png' %}"
                    console.log(img.src)
                    fellow_player.appendChild(img)
                }
                if (user_second_role =="lover" && current_player["second_role"] == "lover" && current_player["user_name"] != user_name){
                    fellow_player = document.getElementById(current_player["user_name"]+"outside")
                    vote_count_span = document.createElement("span")
                    vote_count_span.setAttribute("class", "w3-badge w3-large w3-red")
                    vote_count_span.appendChild(document.createTextNode("\u2764"))
                    fellow_player.appendChild(vote_count_span)
                }

            }
        }

        function remove_dir_from_url(url, numof_dir_to_remove){
            var lastItem = url.split("/")
            for ( var i = 0; i <= numof_dir_to_remove; i++ ) {
                lastItem.pop();
            }
            new_url = lastItem.join("/")
            return new_url
        }

    </script>


{% endblock %}
