<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Werewolves Invitation</title>
</head>
<body>
    <p>
        Heey my friend it's me <strong>{{ invited_by }}</strong>,<br>
        you have been invited to Werewolves Online Game. Click:
    </p>

    <a href=" {{ url }} " id="link">Werewolves Invitation {{ url }}</a>


    <p>
        Good luck! :) <br> <br>
        Best wishes, <br>
        The Werewolves Team
    </p>

    <script>
        link = document.getElementById("link")
        lobby_id = sessionStorage.getItem("lobby_id")
        link.innerText = lobby_id
    </script>
</body>
</html>

